{% load static %}

<div class="sidebar">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
    -->
    <div class="sidebar-wrapper">
        <div class="logo">
           
            <a href="javascript:void(0)" class="simple-text logo-normal">

                <img src="{% static 'img/logo-removebg-preview.png' %}" 
                     alt="Logo" 
                     style="width:100%; height:auto;" />
            </a>
        </div>

        {% include 'includes/menu-list.html' %}
    </div>
</div>
